{% extends "main.html" %}
<h1>Create a new post</h1>
<form method="POST">
  {% csrf_token %}
  <div>
    <label for="content">Title</label>
    <input type="text" name="title" placeholder="Title" required />
  </div>
  <div>
  <label for="content">Content</label>
  <input type="text" name="content" placeholder="Content" required />
  </div>
  <button type="submit">Create</button>
</form>


{% block main %}
<form method="POST" enctype="multipart/form-data" class="max-w-md mx-auto p-8 rounded-lg ">
  {% csrf_token %}
  <div class="grid gap-6 mb-6">
      <div>
          <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Title</label>
          <input name='title' type="text"class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-zinc-700 dark:border-zinc-600 dark:placeholder-zinc-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Enter Title" required />
      </div>
      <div>
          <label for="company" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Content</label>
          <input type="text" class="bg-zinc-400 border border-zinc-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-zinc-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Content" name='content' required />
      </div>
  </div>
  <button type="submit" class="bg-zinc-950 border border-zinc-800 hover:bg-zinc-800 rounded-lg focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center text-white dark:focus:ring-blue-800">Post</button>

  {% if user.is_authenticated %}
  <button class="bg-zinc-950 border border-zinc-800 hover:bg-zinc-800 rounded-lg focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center text-white dark:focus:ring-blue-800"><a href="{% url 'logout' %}">Logout</a></button>
  {% endif %}
  
</form>

{% endblock %}
